nav{
    min-height: 10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    button{
        background: transparent;
        border:none;
        cursor: pointer;
        border: 2px solid rgb(65,65,65);
        padding:0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(65,65,65);
            color:white;
        }
    }
}

.playerName{
    -webkit-text-stroke: 1px #2332a5;
    text-shadow: 2px 1px 7px;
    letter-spacing: 0.9px;
    color: #dbdbdb !important;
}

@media  screen and (max-width: 768px) {
    nav{
        button{
            z-index: 10;
        }
    }
    
}