*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    color:rgb(54,54,54);
}
body{
    font-family: "Lato", sans-serif;
}
h3,h4{
    font-weight: 400;
    color:rgb(100,100,100);
}

.App{
    transition: all 0.5s ease;
}
.libery-active{
    margin-left: 10%;
}
.ending{
    font-size: 14px;
    font-weight: 500;
    color: #2332a5;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    /* position: absolute; */
    /* bottom: 0px; */
    /* right: 0px; */
    -webkit-text-stroke: 1px #7d84bb;
    text-shadow: 4px -2px 7px;
    letter-spacing: 1px;
}

@import "./_song";
@import "_player";
@import "./_libery";
@import "./_nav";
